*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(214, 213, 213);
}
h1,h2,h3{
    color: white;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    font-weight: 100;
}
/* MENU SUPERIOR*/
.menu{
    background-color: black;
}
.menu img {
    width: 120px;
    margin: 3px;
}
.menu nav{
float: right;
}
.menu nav li{
display: inline-block;
}
.menu nav li a{
text-decoration: none;
display: block;
color: white;
margin: 0 5px 0 0;
padding: 10px 10px;
font-family: 'Dosis', sans-serif;
font-size: 0.9em;
text-transform: uppercase;
letter-spacing: 1px;
}

/*HERO*/

.hero{
    background-image: url('../img/hero_background2.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 0;
}
.hero h1{
    margin-bottom: 20px;
}
.hero img{
    width: 100%;
}

/*SERVICIOS*/
.servicios{
    background-color: white;
    padding:80px;
}
.servicios h2{
    color: rgb(83, 83, 83);
}

.button{
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    display: block;
    width: 120px;
    margin: 0 auto;
    padding: 10px 40px;
    background-color: #333333;
    color:white;
}
.button:hover{
    transition: background-color .5s, color .7s;
    background-color: white;
    color: black;
}

/* CAN-CAN*/
aside{
    background: #E6E6E6 url('../img/cancan-background.jpg') no-repeat center top / cover fixed;
    padding: 80px 60px;
    
}
aside img{
    width: 300px;
}
