/*------------------------------------------------------
RESETEO DE ESTILOS
------------------------------------------------------*/

* {
	padding: 0px;
	margin: 0px;
}


/*------------------------------------------------------
ESTILOS GENERALES
------------------------------------------------------*/


body {
	font-family: 'Open Sans', sans-serif;
}

section, aside {
    padding: 100px 0;
}

p {	
	font-weight: 400;
    line-height: 1.5em;
}

h1 {
	float: left;
}

h1 span {
	display: none;
}

h2, h3, h4, h5, h6 {
    font-family: "Dosis", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

h2 {
    color: white;
    font-size: 1.1em;
    margin-bottom: 80px;
}

h3 {
    font-size: 1.2em;
    letter-spacing: 7px;
    text-align: center;
}

h5 {
	color: white;
	text-align: left;
	letter-spacing: 3px;
	margin: 10px auto;
}

h6 {
	color: black;
	text-align: center;
	letter-spacing: 4px;
	margin: 10px auto;
    font-size: 1.1em;
}

li {
    list-style: none;
}

a {
    color: black;
    text-decoration: none;
}

.grey-section {
    background-color: rgb(240, 240, 240);
}

.paddingLateral {
    padding-left: 80px;
    padding-right: 80px;
}

.clearfix {
    clear: both;
}



/*------------------------------------------------------
BARRA DE NAVEGACIÓN
------------------------------------------------------*/

nav {
	width: auto;
	height: 60px;	
	background: black;
    margin-bottom: 120px
}

nav img {
	height: 30px;
    margin: 15px 0 0 20px;
}

nav ul {
	float: right;
	margin-right: 40px;
}

nav li {
	display: inline-block;	
	letter-spacing: 2px;	
	text-transform: uppercase;
}

nav a {
    display: block;
    color: white;
    line-height: 60px;
    padding: 0 10px;
    font-size: .9em;
}




/*------------------------------------------------------
HERO
------------------------------------------------------*/

.hero {
	background: #000 url("../img/hero_background2.jpg") no-repeat center / cover fixed;
	text-align: center;
	letter-spacing: 4px;
    padding-bottom: 80px
}

.hero > img {
	width: 900px;
	margin: 0 auto 180px;
    display: block;
}



/*------------------------------------------------------
SERVICIOS
------------------------------------------------------*/

.iconosServicios {
	margin-top: 100px;	
}

.iconosServicios li {
	color: rgb(190, 190, 190);    
    letter-spacing: 3px;    
    text-align: center;
    text-transform: uppercase;

    width: 20%;
    float: left;    
}

.iconosServicios img{
	width: 80px;
	margin: 0 auto;
    display: block;
}

.iconosServicios p {
    color: rgb(190, 190, 190);
    font-weight: 400;
    text-align: center;
    letter-spacing: 4px;
    margin: 10px auto;
    font-size: 1.1em;
}

.servicios article {
	margin-top: 50px;
}

.servicios article p {
    font-weight: 200;
    color: rgba(0, 0, 0, 0.5);

    float: left;
    margin: 0 20px;
    width: calc(33.33% - 40px);
}

.servicios article p.grande{    
    font-size: 1.5em;    
}

.servicios article a {
	text-align: right;
	display: block;
}


/*------------------------------------------------------
NEWSLETTER
------------------------------------------------------*/

.newsletter {
	text-align: center;
	border-top: 1px solid rgba(0,0,0,.1);
}

.newsletter small{
    color: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    display: block;
}

.newsletter .button{
    margin: 30px auto;
}



/*------------------------------------------------------
CLAIM CANCAN
------------------------------------------------------*/

.claim {
	background: #000 url("../img/cancan-background.jpg") no-repeat fixed center / cover;
	color: white;
}

.claim .columna {
	float: left;
	width: 50%;
}

.claim h4 {
    letter-spacing: 7px;
    margin-bottom: 40px;
    margin-top: 150px;
}

.claim p {
    font-weight: 200;
    line-height: 30px;
}

.claim .button{    
    margin-top: 30px;
}

.claim img {
    margin-left: 20%;
    width: 80%;
}


/*------------------------------------------------------
VALORES
------------------------------------------------------*/

.valores h3 {
	margin-bottom: 80px;
}

.valores article {	
    float: left;
    width: 33.33%;	
    margin-bottom: 50px;
}

.valores article img {    
    display: block;    
    margin: 0 auto;
    width: 80px;
}

.valores article p {
    color: rgb(90, 90, 90);
    padding: 0 20px;
}



/*------------------------------------------------------
FOOTER
------------------------------------------------------*/

footer {
    padding: 150px 0;
    text-align: center;
}

footer p {
    font-size: 0.7em;
}


footer img {
    margin-bottom: 50px;
    width: 100px;
}



/*------------------------------------------------------
COMPONENTES
------------------------------------------------------*/

.button {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 300;
    letter-spacing: 3px;    
    padding: 8px 30px;
    text-transform: uppercase;
}

.button.blanco {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}


@media screen and (max-width: 1200px) {

    .hero > img {
        width: 80%;
    }

    .servicios article p {
        margin: 20px;
        width: auto;
    }

    .valores article {
        width: 50%;
    }

    .valores .clearfix:first-of-type {
        clear: none;
    }
}

@media screen and (max-width: 900px) {

    .paddingLateral {
        padding-left: 20px;
        padding-right: 20px;
    }

    nav ul {
        display: none;
    }

    h2 {
        font-size: .8em;
    }

    .iconosServicios img {
        width: 65px;
    }

    .iconosServicios p {
        letter-spacing: 2px;
        margin: 5px auto;
        font-size: .8em;
    }

    .claim h4 {
        margin-top: 50px;
    }

    .claim .columna {
        width: auto;
    }

    .claim img {
        display: none;
    }

    .button {
        padding: 32px 0;
        width: 80%;
        margin-left: 10%;
        text-align: center;
    }
    
    .valores article {
        width: 100%;
    }
}


